@font-face {
  font-family: x-icon-font;
  src: url('./element-icons.535877f.woff')
}
.r-cropper-mask{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  overflow: hidden;
  display: none;
  .xc-layer{
    position: relative;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    background-color: #fff;
    display: inline-block;
    border-radius: 6px;
  }

  .xc-sbox{
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    outline: 2px solid #6ccfff;
    z-index: 1001;
  }
  .xc-cbox{
    margin: 20px auto 0;
    text-align: center;
  }
  .xc-canvas{
    display: inline-block;
    vertical-align: top;
    box-shadow: rgba(0, 0, 0, 0.5) 0 2px 4px;
  }
  .xc-cbtn{
    left: 0;
    background-color: #fff;
    color: rgba(0,0,0,.87);
    border-bottom-left-radius: 4px;
  }
  .xc-btn{
    user-select:none;
    position: absolute;
    bottom: 0;
    height: 36px;
    width: 80px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    overflow: hidden;
  }
  .xc-cutbtn{
    right: 0;
    background-color: #3f51b5;
    color: #fff;
    border-bottom-right-radius: 4px;

  }
  .x-btn-mask{
    opacity: 1;
    //transition: opacity 280ms cubic-bezier(.4, 0, .2, 1);
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .ripple-circle{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0, 0);
    background-color: #ff4585;
    border-radius: 100%;
    opacity: 0;
  }
  .xc-showimg{
    user-select: none;
  }
  .xc-layermask{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 36px;
    width: 100%;
    z-index: 900;
  }
}
.r-c-imgs{
  position: relative;
  display: inline-block;
}
.xc-delteicon,.xc-reviseicon,.xc-zoomicon{
  font-family: x-icon-font;
  font-weight: 400;
  font-size: 18px;
  display: inline-block;
  font-style: normal;
  color: #fff;
}
.xc-delteicon{
  &:before{
    content: "\e6d7"
  }
}
.xc-reviseicon{
  &:before{
    content: "\e78c"
  }
}
.xc-zoomicon{
  &:before{
    content: "\e777"
  }
}
.xc-icon{
  margin-right: 5px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  display: inline-block;
  cursor: pointer;
  &:last-of-type{
    margin-right: 0;
  }
}
.xc-simg{
  margin-right: 5px;
  border-radius: 4px;
  overflow: hidden;
  outline: 1px solid #f2f2f2;
  position: relative;
  display: inline-block;
}
.xc-imgmask{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  width: 100%;
  height: 100%;
}
.xc-inputmask{
  text-align: center;
  outline: 1px solid #f2f2f2;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.xc-upload{
  font-family: x-icon-font;
  font-style: normal;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  &:before{
    content: "\e6d9"
  }
}
.xc-error{
  position: absolute;
  bottom: -20px;
}
.xc-input{
  display: none;
}
.xc-preview-img{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
}
.xc-preview-mask{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.5);
}
.xc-zoomnode{
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 1px solid #bbb;
  background-color: #fff;
}
.xc-zm-tl{
  left: 0;
  top: 0;
  cursor: nw-resize;
  transform: translate(-50%, -50%);
}
.xc-zm-tc{
  top: 0;
  left: 50%;
  cursor: n-resize;
  transform: translate(-50%, -50%);
}
.xc-zm-tr{
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: translate(50%, -50%);
}
.xc-zm-rc{
  right: 0;
  top: 50%;
  cursor: ew-resize;
  transform: translate(50%, -50%);
}
.xc-zm-rb{
  bottom: 0;
  right: 0;
  cursor: nw-resize;
  transform: translate(50%, 50%);
}
.xc-zm-bc{
  bottom: 0;
  left: 50%;
  cursor: n-resize;
  transform: translate(-50%, 50%);
}
.xc-zm-bl{
  bottom: 0;
  left: 0;
  cursor: ne-resize;
  transform: translate(-50%, 50%);
}
.xc-zm-lc{
  left: 0;
  top: 50%;
  cursor: ew-resize;
  transform: translate(-50%, -50%);
}
